@{
    ViewData["Title"] = "Atividades e Jogos";
}

<div class="container">
    <h1>Atividades e Jogos</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Atividade 1</h5>
                    <p class="card-text">Descrição da atividade 1.</p>
                    <a href="@Url.Action("Atividade1", "Diversos")" class="btn btn-primary">Jogar</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Atividade 2</h5>
                    <p class="card-text">Jogo de Completar Palavras.</p>
                    <a href="@Url.Action("JogoCompletarPalavras", "Diversos")" class="btn btn-primary">Jogar</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Atividade 3</h5>
                    <p class="card-text">Jogo da Forca.</p>
                    <a href="@Url.Action("IniciarJogo", "Diversos")" class="btn btn-primary">Jogar</a>
                </div>
            </div>
        </div>

          <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Atividade 4</h5>
                    <p class="card-text">Descrição da atividade 4.</p>
                    <a href="@Url.Action("Atividade4", "Diversos")" class="btn btn-primary">Jogar</a>
                </div>
            </div>
        </div>

          <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Atividade 5</h5>
                    <p class="card-text">Descrição da atividade 5.</p>
                    <a href="@Url.Action("Atividade5", "Diversos")" class="btn btn-primary">Jogar</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Atividade 6</h5>
                    <p class="card-text">Descrição da atividade 6.</p>
                    <a href="@Url.Action("Atividade6", "Diversos")" class="btn btn-primary">Jogar</a>
                </div>
            </div>
        </div>

        <!-- Adicione mais cards para outras atividades e jogos -->
    </div>
</div>